
<form class="guessForm" action="/hangman" method="post">
  <label for="guess">Enter your guess</label>
  <input type="button" name="guess" mxlength="1">
</form>


<h3>Look at how you are doing</h3>
<a href="/hangman">Check Progress</a>
